# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env

# Node / Angular
ui/node_modules/
ui/dist/
ui/.angular/
api/ui_dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# State
~/.kubeasy_state.json
