# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env

# Node / Angular
ui/node_modules/
ui/dist/
ui/.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# State
~/.kubeasy_state.json

# Build Artifacts & Logs
api/ui_dist/
*.log
